#Calculator {
    display: block;
    position: absolute;
    width: 350px;
    height: 345px;

    background-color: rgba(0, 0, 0, 0.685);
    border: 2px solid #000;
}

#output {
    display: inline-block;
    position: relative;
    width: 80%;
    height: 16%;
    left: 5px;
    top: 5px;
    padding: 2px;
    border: 2px solid #000;
    z-index: 1;
    
    background-color: rgba(73, 194, 3, 0.534);
    color: #000;
    font-size: 20px;
    font-weight: 400;
    word-wrap: break-word;
    overflow-y: hidden;
}

.cl {
    display: inline-block;
    position: relative;
    width: 12%;
    height: 12%;
    left: 2%;
    top: -8%;
    border: 2px solid #000;


    background-color: rgb(182, 7, 7);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
}

.button {
    position: relative;
    display: inline-block;
    width: 20%;
    height: 16%;
    left: 5px;
    top: 4px;
    margin-right: 11px;
    margin-bottom: 10px;

    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 400;
    border: 2px solid #000;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border: 2px solid #fff;
    color: rgb(0, 0, 0);
    transition: .2s background-color, border, color;
}

.cl:hover {
    cursor: pointer;
    background-color: rgb(228, 4, 4);
    border: 2px solid #fff;
    color: #fff;
    transition: .2s background-color, border, color;
}
